<li class="workplace transition">
    {% for first in site.data.about.first-place %}
    <p class="workplace-title">
        {{ first.title }}
    </p>
    <p class="work-content">
        {{ first.content1 }}
    </p>
    <p class="work-content">
        {{ first.content2 }}
    </p>
    <p class="work-content">
        {{ first.content3 }}
    </p>
    {% endfor %}
</li>

<li class="workplace transition">
    {% for second in site.data.about.second-place %}
    <p class="workplace-title">
        {{ second.title }}
    </p>
    <p class="work-content">
        {{ second.content1 }}
    </p>
    {% endfor %}
</li>
