<li class="catalogue-item">
    <a href="{{ page.url | prepend: site.baseurl }}" >
        {% if page.draft == true %}
        <span class="catalogue-tag">
            Coming Soon
        </span>
        {% endif %}
        <p class="catalogue-type">
            {{ page.type }}
        </p>
        <div>
          <h3 class="catalogue-title">{{ page.title }}</h3>
          <time datetime="{{ page.date }}" class="catalogue-time">{{ page.date | date: "%B %d, %Y" }}</time>
          <div class="catalogue-line"></div>
        </div>
    </a>
</li>
