<li class="catalogue-projectItem">
    <a href="{{ page.url | prepend: site.baseurl }}" >
        {% if page.draft == true %}
        <span class="catalogue-tag">
            Coming Soon
        </span>
        {% endif %}
        <div>
          <h3 class="catalogue-projectTitle">{{ page.title }}</h3>
          <h4 class="catalogue-projectContent">{{ page.role }}</h4>
          <h4 class="catalogue-projectContent">{{ page.stack }}</h4>
          <time datetime="{{ page.date }}" class="catalogue-projectTime">{{ page.date }}</time>
          <div class="catalogue-line"></div>
        </div>
    </a>
</li>
