//post header

.post-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 360px;
    background-color: #D8E0E7;
}

//project header

.project-header {
        font-family: 'Source Sans Pro', sans-serif;
        color: #333e4c;

    .header-project-title {
        font-weight: 700;
        font-size: 50px;

        @media (max-width: 670px) {
            font-size: 32px;
        }
    }

    .header-project-des {
        padding-top: 6px;
        font-size: 20px;
        color: #90949a;

        @media (max-width: 670px) {
            font-size: 17px;
        }
    }
}

.post {
  padding: 3rem 0;

  &-info {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: 0.5px;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: $default-shade;
    font-family: $sans-serif;
    font-size: 4rem;
    margin: 1rem 0;
    text-align: center;
  }

  &-line {
    border-top: 0.4rem solid $default-shade;
    display: block;
    margin: 0 auto 3rem;
    width: 4rem;
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  img + em {
    color: $default-tint;
    display: block;
    font-family: $sans-serif;
    font-size: 0.9rem;
    font-style: normal;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }

  h2{
  	margin-bottom:0.3rem;
  }

  ul{
  	margin-top:0;
  }

}
